<html>
<head>
  <title>Giropops Strigus Girus</title>
<body>
  <h1>DESCOMPLICANDO O ANSIBLE - 2020</h1>
  <h2>Esse aqui eh o meu IP: {{ ansible_facts.enp0s8.ipv4.address  }}</h2>
 </body>
</head>
</html>